In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from scipy.special import expit
from sklearn.model_selection import train_test_split

In [ ]:
#reading the data from the csv file
df = pd.read_csv('10YearHIV-5columns.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Location           825 non-null    object
 1   Period             825 non-null    int64
 2   ART coverage       825 non-null    int64
 3   Death by HIV       825 non-null    int64
 4   People with HIV    825 non-null    int64
 5   Total Population   825 non-null    int64
dtypes: int64(5), object(1)
memory usage: 38.8+ KB

In [ ]:
df.describe()

,Period,ART coverage,Death by HIV,People with HIV,Total Population
count,825.000000,825.000000,825.000000,8.250000e+02,8.250000e+02
mean,2016.000000,48.585455,3893.042424,1.550341e+05,1.682543e+07
std,3.164196,21.410692,7755.091505,3.230039e+05,2.993608e+07
min,2011.000000,2.000000,100.000000,2.000000e+02,2.829870e+05
25%,2013.000000,33.000000,100.000000,3.400000e+03,2.781682e+06
50%,2016.000000,48.000000,500.000000,1.700000e+04,8.252828e+06
75%,2019.000000,64.000000,3400.000000,1.100000e+05,1.719631e+07
max,2021.000000,98.000000,51000.000000,1.400000e+06,2.139934e+08

In [ ]:
df['Index'] = 'Major'
df.loc[df['Death by HIV ']<= 2300	,'Index'] ="Minor" 
X = df.iloc[:,[2,4,5]]#features
y = df['Index']#target
print(y)

0      Minor
1      Minor
2      Major
3      Major
4      Minor
       ...
820    Minor
821    Minor
822    Minor
823    Minor
824    Minor
Name: Index, Length: 825, dtype: object

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
X_train = sc_x.fit_transform(X_train)
X_test = sc_x.transform(X_test)

In [ ]:
from sklearn import linear_model
from sklearn.model_selection import GridSearchCV


model_train =linear_model.LogisticRegression(random_state = 42)
model_train.fit(X_train,y_train)

LogisticRegression(random_state=42)

In [ ]:

predictions = model_train.predict(X_test)
predictions

array(['Minor', 'Minor', 'Minor', 'Minor', 'Minor', 'Major', 'Major',
       'Minor', 'Major', 'Minor', 'Major', 'Minor', 'Major', 'Major',
       'Minor', 'Minor', 'Minor', 'Minor', 'Major', 'Minor', 'Minor',
       'Major', 'Minor', 'Major', 'Minor', 'Minor', 'Minor', 'Minor',
       'Minor', 'Minor', 'Minor', 'Major', 'Minor', 'Minor', 'Minor',
       'Minor', 'Major', 'Minor', 'Minor', 'Minor', 'Major', 'Minor',
       'Minor', 'Minor', 'Minor', 'Major', 'Minor', 'Minor', 'Major',
       'Minor', 'Minor', 'Minor', 'Minor', 'Minor', 'Major', 'Major',
       'Minor', 'Major', 'Minor', 'Minor', 'Minor', 'Major', 'Minor',
       'Minor', 'Minor', 'Minor', 'Minor', 'Major', 'Minor', 'Minor',
       'Minor', 'Minor', 'Minor', 'Minor', 'Minor', 'Minor', 'Major',
       'Minor', 'Minor', 'Minor', 'Minor', 'Minor', 'Major', 'Minor',
       'Major', 'Minor', 'Major', 'Minor', 'Minor', 'Minor', 'Minor',
       'Minor', 'Major', 'Minor', 'Major', 'Minor', 'Minor', 'Major',
       'Minor', 'Minor', 'Minor', 'Minor', 'Minor', 'Minor', 'Minor',
       'Minor', 'Minor', 'Minor', 'Minor', 'Major', 'Minor', 'Minor',
       'Major', 'Minor', 'Minor', 'Minor', 'Minor', 'Major', 'Minor',
       'Minor', 'Minor', 'Minor', 'Minor', 'Minor', 'Major', 'Major',
       'Major', 'Minor', 'Minor', 'Major', 'Minor', 'Minor', 'Minor',
       'Minor', 'Major', 'Major', 'Minor', 'Minor', 'Minor', 'Major',
       'Minor', 'Minor', 'Major', 'Major', 'Major', 'Minor', 'Major',
       'Minor', 'Minor', 'Minor', 'Major', 'Major', 'Minor', 'Minor',
       'Major', 'Minor', 'Major', 'Major', 'Minor', 'Minor', 'Major',
       'Major', 'Minor', 'Minor', 'Major', 'Minor', 'Minor', 'Major',
       'Major', 'Minor', 'Minor', 'Minor', 'Minor', 'Minor', 'Major',
       'Minor', 'Minor', 'Major', 'Minor', 'Minor', 'Major', 'Minor',
       'Minor', 'Minor', 'Major', 'Minor', 'Major', 'Minor', 'Minor',
       'Major', 'Minor', 'Minor', 'Major', 'Major', 'Minor', 'Minor',
       'Major', 'Minor', 'Minor', 'Minor', 'Minor', 'Minor', 'Major',
       'Major', 'Minor', 'Minor', 'Minor', 'Minor', 'Major', 'Major',
       'Minor', 'Minor', 'Minor', 'Minor', 'Minor', 'Major', 'Minor',
       'Minor', 'Minor', 'Major', 'Minor', 'Major', 'Minor', 'Minor',
       'Minor', 'Major', 'Minor', 'Minor', 'Minor', 'Minor', 'Minor',
       'Major', 'Minor', 'Major', 'Major', 'Major', 'Minor', 'Minor',
       'Major', 'Minor', 'Minor', 'Minor', 'Minor', 'Minor', 'Minor',
       'Minor', 'Minor', 'Minor'], dtype=object)

In [ ]:
# Function to calculate accuracy
def Report(y_test, y_pred):
    print("Report : ",
    classification_report(y_test, y_pred))

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix

print("Trained acc: ", accuracy_score(y_train, model_train.predict(X_train)))
print("Test accuracy:", accuracy_score(y_test, predictions))
print("Confusion matrix train: ", "\n", confusion_matrix(y_train, model_train.predict(X_train)))
print("Confusion matrix test: ", "\n",confusion_matrix(y_test, predictions))
# underfitting test> trained

Trained acc:  0.9046793760831889
Test accuracy: 0.9112903225806451
Confusion matrix train:
 [[143  46]
 [  9 379]]
Confusion matrix test:
 [[ 65  15]
 [  7 161]]

In [ ]:
from sklearn.metrics import classification_report
print(Report(y_train, model_train.predict(X_train)))
print("---------------------------------------------------------")
print(Report(y_test, predictions))

Report :                precision    recall  f1-score   support

       Major       0.94      0.76      0.84       189
       Minor       0.89      0.98      0.93       388

    accuracy                           0.90       577
   macro avg       0.92      0.87      0.89       577
weighted avg       0.91      0.90      0.90       577

None
---------------------------------------------------------
Report :                precision    recall  f1-score   support

       Major       0.90      0.81      0.86        80
       Minor       0.91      0.96      0.94       168

    accuracy                           0.91       248
   macro avg       0.91      0.89      0.90       248
weighted avg       0.91      0.91      0.91       248

None