**DATA CLEANING FOR FODS (Fundamental of Data Science) Final Project**

In [70]:
# DATA CLEANING FOR FINAL PROJECT - william
# The data is taken from here: https://www.who.int/data/gho/data/indicators/indicator-details/GHO/estimated-number-of-people--living-with-hiv

In [71]:
# import modules
import pandas as pd

In [72]:
#reading the data from the csv file
df = pd.read_csv('HIVamongyear.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1164 entries, 0 to 1163
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   IndicatorCode               1164 non-null   object
 1   Indicator                   1164 non-null   object
 2   ValueType                   1164 non-null   object
 3   ParentLocationCode          1164 non-null   object
 4   ParentLocation              1164 non-null   object
 5   Location type               1164 non-null   object
 6   SpatialDimValueCode         1164 non-null   object
 7   Location                    1164 non-null   object
 8   Period type                 1164 non-null   object
 9   Period                      1164 non-null   int64
 10  IsLatestYear                1164 non-null   bool
 11  Dim1 type                   0 non-null      float64
 12  Dim1                        0 non-null      float64
 13  Dim1ValueCode               0 non-null      float64
 14  Dim2 type                   0 non-null      float64
 15  Dim2                        0 non-null      float64
 16  Dim2ValueCode               0 non-null      float64
 17  Dim3 type                   0 non-null      float64
 18  Dim3                        0 non-null      float64
 19  Dim3ValueCode               0 non-null      float64
 20  DataSourceDimValueCode      0 non-null      float64
 21  DataSource                  0 non-null      float64
 22  FactValueNumericPrefix      59 non-null     object
 23  FactValueNumeric            833 non-null    float64
 24  FactValueUoM                0 non-null      float64
 25  FactValueNumericLowPrefix   70 non-null     object
 26  FactValueNumericLow         833 non-null    float64
 27  FactValueNumericHighPrefix  48 non-null     object
 28  FactValueNumericHigh        833 non-null    float64
 29  Value                       1164 non-null   object
 30  FactValueTranslationID      331 non-null    float64
 31  FactComments                0 non-null      float64
 32  Language                    1164 non-null   object
 33  DateModified                1164 non-null   object
dtypes: bool(1), float64(17), int64(1), object(15)
memory usage: 301.4+ KB

In [94]:
# taking certain column and dividing the csv file according the year
df2021 = df.iloc[0:195,[3,7,23]]
df2021.info()
df2020 = df.iloc[195:389,[7,23]]
df2020.info()
df2019 = df.iloc[388:582,[7,23]]
df2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ParentLocationCode  195 non-null    object
 1   Location            195 non-null    object
 2   FactValueNumeric    139 non-null    float64
dtypes: float64(1), object(2)
memory usage: 4.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 195 to 388
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Location          194 non-null    object
 1   FactValueNumeric  139 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 388 to 581
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Location          194 non-null    object
 1   FactValueNumeric  140 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.2+ KB

In [95]:
# Merging 3 dataframes by using location as the pivot
dff= pd.merge(pd.merge(df2021,df2020,on='Location'),df2019,on='Location')
dff.head()

,ParentLocationCode,Location,FactValueNumeric_x,FactValueNumeric_y,FactValueNumeric
0,AFR,Comoros,200.0,200.0,200.0
1,AFR,Comoros,200.0,200.0,200.0
2,EMR,Bahrain,500.0,500.0,500.0
3,EUR,Iceland,500.0,500.0,500.0
4,EMR,Qatar,500.0,500.0,200.0

In [99]:
# Renaming the columns in dff

dff.rename(columns = {
  'FactValueNumeric_x':'FValue2021'
  ,'FactValueNumeric_y':'FValue2020'
  ,'FactValueNumeric' : 'FValue2019'
  ,'ParentLocationCode': 'LocCode'
  }, inplace = True)

dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 0 to 138
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LocCode     139 non-null    object
 1   Location    139 non-null    object
 2   FValue2021  139 non-null    float64
 3   Fvalue2020  139 non-null    float64
 4   Fvalue2019  139 non-null    float64
dtypes: float64(3), object(2)
memory usage: 6.5+ KB

In [100]:
# dropping function in case there is a null data

dff.dropna(
    axis=0,
    how='any',
    thresh=None,
    subset=None,
    inplace=True
)

dff.head()
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 0 to 138
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LocCode     139 non-null    object
 1   Location    139 non-null    object
 2   FValue2021  139 non-null    float64
 3   Fvalue2020  139 non-null    float64
 4   Fvalue2019  139 non-null    float64
dtypes: float64(3), object(2)
memory usage: 6.5+ KB

In [101]:
# Saving the file and rename it
New_filename = 'cleaned-HIVdataperyear.csv'
dff.to_csv(New_filename, index=False)
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 0 to 138
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LocCode     139 non-null    object
 1   Location    139 non-null    object
 2   FValue2021  139 non-null    float64
 3   Fvalue2020  139 non-null    float64
 4   Fvalue2019  139 non-null    float64
dtypes: float64(3), object(2)
memory usage: 6.5+ KB