**DATA CLEANING FOR FODS (Fundamental of Data Science) Final Project**

In [112]:
# DATA CLEANING FOR FINAL PROJECT - william
# The data is taken from kaggle, ref: https://www.kaggle.com/datasets/imdevskp/hiv-aids-dataset?resource=download

In [113]:
# import modules
import pandas as pd

In [114]:
#reading the data from the csv file
df = pd.read_csv('art_coverage_by_country_clean.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Country                                                         170 non-null    object
 1   Reported number of people receiving ART                         170 non-null    object
 2   Estimated number of people living with HIV                      170 non-null    object
 3   Estimated ART coverage among people living with HIV (%)         170 non-null    object
 4   Estimated number of people living with HIV_median               138 non-null    float64
 5   Estimated number of people living with HIV_min                  138 non-null    float64
 6   Estimated number of people living with HIV_max                  138 non-null    float64
 7   Estimated ART coverage among people living with HIV (%)_median  136 non-null    float64
 8   Estimated ART coverage among people living with HIV (%)_min     136 non-null    float64
 9   Estimated ART coverage among people living with HIV (%)_max     136 non-null    float64
 10  WHO Region                                                      170 non-null    object
dtypes: float64(6), object(5)
memory usage: 14.7+ KB

In [115]:
# RENAMING COLUMNS 

df.rename(columns = {'Reported number of people receiving ART':'People receive ART'
,'Estimated number of people living with HIV':'People with HIV'
,'Estimated ART coverage among people living with HIV (%)':'ART coverage (%)'
,'Estimated number of people living with HIV_median':'People with HIV-median'
,'Estimated number of people living with HIV_min':'People with HIV-min'
,'Estimated number of people living with HIV_max':'People with HIV-max'
,'Estimated ART coverage among people living with HIV (%)_median':'ART coverage(%)-median'
,'Estimated ART coverage among people living with HIV (%)_min':'ART coverage(%)-min'
,'Estimated ART coverage among people living with HIV (%)_max':'ART coverage(%)-max'
}, inplace = True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 170 non-null    object
 1   People receive ART      170 non-null    object
 2   People with HIV         170 non-null    object
 3   ART coverage (%)        170 non-null    object
 4   People with HIV-median  138 non-null    float64
 5   People with HIV-min     138 non-null    float64
 6   People with HIV-max     138 non-null    float64
 7   ART coverage(%)-median  136 non-null    float64
 8   ART coverage(%)-min     136 non-null    float64
 9   ART coverage(%)-max     136 non-null    float64
 10  WHO Region              170 non-null    object
dtypes: float64(6), object(5)
memory usage: 14.7+ KB

In [116]:
#dropping the null files and changing the datatype
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 136 non-null    object
 1   People receive ART      136 non-null    object
 2   People with HIV         136 non-null    object
 3   ART coverage (%)        136 non-null    object
 4   People with HIV-median  136 non-null    float64
 5   People with HIV-min     136 non-null    float64
 6   People with HIV-max     136 non-null    float64
 7   ART coverage(%)-median  136 non-null    float64
 8   ART coverage(%)-min     136 non-null    float64
 9   ART coverage(%)-max     136 non-null    float64
 10  WHO Region              136 non-null    object
dtypes: float64(6), object(5)
memory usage: 12.8+ KB

In [117]:
# Removing [] from the csv file
for col in ['ART coverage (%)']:
  df[col] = df[col].str.extract('[0-9.]+\[[0-9.]+\–([0-9.]+)')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 136 non-null    object
 1   People receive ART      136 non-null    object
 2   People with HIV         136 non-null    object
 3   ART coverage (%)        136 non-null    object
 4   People with HIV-median  136 non-null    float64
 5   People with HIV-min     136 non-null    float64
 6   People with HIV-max     136 non-null    float64
 7   ART coverage(%)-median  136 non-null    float64
 8   ART coverage(%)-min     136 non-null    float64
 9   ART coverage(%)-max     136 non-null    float64
 10  WHO Region              136 non-null    object
dtypes: float64(6), object(5)
memory usage: 12.8+ KB

In [118]:
for col in ['People with HIV']:
  df[col] = df[col].str.extract('[0-9.]+\[[0-9.]+\–([0-9.]+)')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 136 non-null    object
 1   People receive ART      136 non-null    object
 2   People with HIV         136 non-null    object
 3   ART coverage (%)        136 non-null    object
 4   People with HIV-median  136 non-null    float64
 5   People with HIV-min     136 non-null    float64
 6   People with HIV-max     136 non-null    float64
 7   ART coverage(%)-median  136 non-null    float64
 8   ART coverage(%)-min     136 non-null    float64
 9   ART coverage(%)-max     136 non-null    float64
 10  WHO Region              136 non-null    object
dtypes: float64(6), object(5)
memory usage: 12.8+ KB

In [119]:
# Checking the content of df
df.head()

,Country,People receive ART,People with HIV,ART coverage (%),People with HIV-median,People with HIV-min,People with HIV-max,ART coverage(%)-median,ART coverage(%)-min,ART coverage(%)-max,WHO Region
0,Afghanistan,920,11000,20,7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean
2,Algeria,12800,17000,86,16000.0,15000.0,17000.0,81.0,75.0,86.0,Africa
3,Angola,88700,390000,31,330000.0,290000.0,390000.0,27.0,23.0,31.0,Africa
4,Argentina,85500,150000,67,140000.0,130000.0,150000.0,61.0,55.0,67.0,Americas
5,Armenia,1900,4400,65,3500.0,3000.0,4400.0,53.0,44.0,65.0,Europe

In [120]:
#  Changing
df['People receive ART'] = df['People receive ART'].astype(float)
df['ART coverage (%)'] = df['ART coverage (%)'].astype(float)
df['People with HIV'] = df['People with HIV'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 136 non-null    object
 1   People receive ART      136 non-null    float64
 2   People with HIV         136 non-null    float64
 3   ART coverage (%)        136 non-null    float64
 4   People with HIV-median  136 non-null    float64
 5   People with HIV-min     136 non-null    float64
 6   People with HIV-max     136 non-null    float64
 7   ART coverage(%)-median  136 non-null    float64
 8   ART coverage(%)-min     136 non-null    float64
 9   ART coverage(%)-max     136 non-null    float64
 10  WHO Region              136 non-null    object
dtypes: float64(9), object(2)
memory usage: 12.8+ KB

In [121]:
# Saving the file and rename it
New_filename = 'cleaned-HIVdata.csv'
df.to_csv(New_filename, index=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 136 non-null    object
 1   People receive ART      136 non-null    float64
 2   People with HIV         136 non-null    float64
 3   ART coverage (%)        136 non-null    float64
 4   People with HIV-median  136 non-null    float64
 5   People with HIV-min     136 non-null    float64
 6   People with HIV-max     136 non-null    float64
 7   ART coverage(%)-median  136 non-null    float64
 8   ART coverage(%)-min     136 non-null    float64
 9   ART coverage(%)-max     136 non-null    float64
 10  WHO Region              136 non-null    object
dtypes: float64(9), object(2)
memory usage: 12.8+ KB